
/* media responsive for mobile */
@media screen and (max-width:426px) {
  /* Nav Section Start */
  .nav-ber-container{
    padding: 25px 0;
    flex-direction: column;
    }
    .nav-menu-container{
      padding: 20px 0;
    }
    .nav-menu-container ul{
    flex-direction: column;
    gap: 20px;
    }
    .nav-youtube{
      padding-left: 10px;
      color: #F61C0D;
    }
    .fa-tiktok{
        padding: 0 24px;
    }
  /* Nav Section End */


  /* Banner Section Start */
    .banner-section{
      background-image: none;
    }
    .banner-container{
      flex-direction: column-reverse;
    }
    .banner-img-container{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .banner-img-container img{
      width: 80%;
    }
    .banner-content{
      width: 90%;
      padding: 30px 0 0 0px;
      background-image: url(./images/Group\ 14.png);
      background-repeat: no-repeat;
      background-size: 100%;
      margin: 10px auto;
      text-align: center;
    }
    .banner-content h2{
      font-size: 30px;
    }
    .banner-content h1{
      font-size: 65px;
      padding: 0px;
    }
    .banner-content p{
      font-size: 14px;
      padding: 5px 0;
      text-align: justify;
      width: 250px;
      margin: 0 auto;    
    }
    .banner-button{
      padding-top: 0px;
      display: inline-flex;
      gap: 5px;
      margin: 20px 0;
    }
    .btn-primary{
      color: #FFF;
      font-size: 14px;
      font-weight: 600;
      padding: 15px 0px;
      width: 120px;
    }
    /* banner section end */

    /* we are gamer section Start */
    .we-are-gammer-container{
      background: none;
    }
    .we-are-gamer{
      flex-direction: column;
    }
    .we-are-gammer-content h2{
      font-size: 38px;  
    }
    .we-are-gammer-img-container{
      width: 80%;
    }
    .we-are-gammer-content{
      text-align: center;
      width: 80%;
    }
    .we-are-gammer-img-container img{
      width: 100%;
      margin: 0px;
    }
  .we-are-gammer-content p{
    color: #534C64;
    font-size: 10px;
    font-weight: 400;
    padding-top: 30px;
    }
  .we-are-gammer-content h3{
    font-size: 16px;
    color: #534C64;
    }
  .know-more{
    color: #FFF;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 30px
    }

  .online-games-container{
    width: 80%;
    margin: 50px auto;

    }
    .online-games-img-container{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      margin: 0 auto;
      text-align: center;
    }
    .online-games-img-box img{
      width: 100%;
    }
    .online-games-container h2{
      font-size: 24px;
    }
    .online-games-img-container p{
      font-size: 12px;
    }
    .online-games-container p{
      color: #534C64;
      font-size: 12px;
      padding: 16px 0 20px;
    }

    /* Play Instantly Start */
    .play-instantly-container{
      flex-direction: column;
      text-align: center;
      width: 80%;
      margin: 100px auto;
    }
    .play-instantly-content{ 
      width: 80%; 
    }
    .play-instantly-content > h3{ 
      font-size: 36px;
      font-weight: 700;
      width: 100%;
      line-height: 49px;  
    }
    .play-instantly-content p{
      color: #534C64;
      font-size: 12px;
      text-align: center;
      max-width: 90%;
      margin: 24px auto;
      line-height: 20px;
    }
    .play-instantly-img-container{ 
      position: relative;
      width: 100%;
    }
    .play-instantly-img-container img{
      width: 80%;
    }
    .little-img{
      position: absolute;
      width: 40%;
      left: -30px;
      bottom: -30px;
    }
     /* Play Instantly End */

    /* Play games online section Start */
    .play-games-container{
      width: 80%;
      margin: 0 auto;
      flex-direction: column-reverse;
    }
    .minion-image{
      position: absolute;
      width: 40%;
      transform: translate(20px, 40px);
  }
  .play-games-img-container{
    width: 100%;
    position: relative;
    margin-top: 30px;
}
.play-games-content{
  width: 100%;
  text-align: center;
}
.play-games-content h3{
  font-size: 36px;
  line-height: 45px;
}
.play-games-content p{
  color: #534C64;
  font-size: 12px;
  font-weight: 400;
  margin: 24px 0px 0 0;
  line-height: 30px;
}
/* Play games online section End */

/* Career Section Start */
    .careers-container{
        flex-direction: column;
        width: 90%;
    }
    .career-content{
      width: 90%;
    }
    .career-content h3{

    }
    .career-content p{
      font-size: 10px;
      padding-top: 10px;
    }
    .career-img-container{
        width: 100%;
    }
    .career-img-container img{
        width: 100%;
    }
    .careers-list{
        margin-top: 30px;
        line-height: 30px;
    }
    .see-all-positions{
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 12px 15px;
        border-radius: 45px;
        margin: 30px 0;
        border: none;
    }
    /* Career Section End */

    /* Sponsors Section Start */
    .sponsors-container{
      width: 100%;
      background-color: #FFF;
    }
    .sponsors-content{
      padding: 0px 1%;
    }
    .sponsors-content p{
      font-size: 8px;
      min-width: 0px;
      padding: 5px;
    }
    .sponsors-content img{
      width: 15px;
    }
    /* Sponsors Section End */

    /* footer Start */
    footer{
      background: #0B0223;
      padding: 70px 0 50px;   
    }
    .footer-container{
      width: 100%;
    }
    .footer-logo h2{
      font-size: 25px;
      color: #FFF;
      font-weight: 700;
    }
    .footer-logo img{
      width: 40px;
    }
    .footer-logo h2 span{
      padding-left: 5px;
    }
    .footer-menu{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 80%;
      margin: 20px auto;
      font-size: 10px;
      gap: 10px;
      padding: 0;
      }
      .footer-menu a{
        text-decoration: none;
        color: #FFFFFF;
        margin: 0px 20px;
        font-size: 10px;
    }
    .footer-icon-container{
      width: 50%;
      margin: 0 auto;
      padding: 5px 0px;
    }
    .footer-icon{
      flex-wrap: wrap;
      font-size: 20px;
      padding: 10px 20px;
      
    }
    .rules-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 70%;
      margin: 0 auto;
      font-size: 10px;
      gap: 10px;
      padding-top: 6px;
    }
    .rules-container a{
        padding: 0 20px;
        font-size: 10px;
    }
    .copyright{
      flex-direction: column;
      font-size: 10px;
      padding: 28px 0px 0px;
    }
    /* Footer End */

}