@media screen and (min-width:426px) and (max-width:768px) {
  .nav-ber-container{
    flex-direction: column;
  }
  .nav-menu-container{
    padding: 20px 0;
  }
  .banner-container{
    width: 90%;
  }

.banner-content h2{
  font-size: 25px;
  text-align: center;
}
.banner-content h1{
  font-size: 50px;
  padding: 0px;
  text-align: center;
  padding-bottom: 20px;
}
.banner-content p{
  font-size: 14px;
  padding: 5px 0;    
}
.btn-primary{
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 48px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  border: none;
  padding: 12px 25px;
}
.banner-button{
  padding-top: 20px;
}
.go-rough{
  background: #4EC5F7;
}
.we-are-gammer-container{
  width: 90%;
  margin: 0px auto;
  padding: 30px 0;
  background: none;
}
.we-are-gammer-img-container{
  width: 50%;
  padding: 0px 0; 
}
.we-are-gammer-content{
  text-align: right;
  width: 50%;
}
.we-are-gammer-img-container img{
  width: 100%;
  margin: 0px;
}
.we-are-gammer-content h2{
  font-size: 36px;
}
.we-are-gammer-content p{
  font-size: 14px;
}
.we-are-gammer-content h3{
  font-size: 16px;
  color: #534C64;
}

  .online-games-container{
    width: 90%;
    margin: 20px auto;
  }
  .online-games-img-container{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    text-align: center;
  }
  .play-instantly-container{
    width: 95%;
    padding: 20px 0;
    margin: 20px 0;
  }
  .play-instantly-img-container{ 
    position: relative;
    width: 50%;
  }
  .play-instantly-img-container img{
    width: 80%;
  }
  .play-instantly-content{ 
    width: 50%;
    text-align: center; 
  }
  .play-instantly-content > h3{ 
    font-size: 36px;
    font-weight: 700;
    width: 100%;
    line-height: 40px;
     
  }
  .play-instantly-content p{
    color: #534C64;
    font-size: 16px;
    text-align: center;
    max-width: 90%;
    margin: 24px auto;
    line-height: 20px;
  }
  .little-img{
    position: absolute;
    width: 40%;
    left: -20px;
    bottom: -30px;
  }
  .sponsors-content p{
    font-size: 16px;
    min-width: 0px;
    padding: 5px;
  }
  .sponsors-content img{
    width: 30px;
  }
  
}


@media screen and (max-width:426px) {
    .nav-ber-container{
    padding: 25px 0;
    flex-direction: column;
    }
    .nav-menu-container{
      padding: 20px 0;
    }
    .nav-menu-container ul{
    flex-direction: column;
    gap: 20px;
    }
    .nav-youtube{
      padding-left: 10px;
      color: #F61C0D;
  }
  .fa-tiktok{
      padding: 0 24px;
  }


    .banner-section{
      background-image: none;
    }
    .banner-container{
      flex-direction: column-reverse;
    }
    .banner-img-container{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .banner-img-container img{
      width: 80%;
    }
    .banner-content{
      width: 80%;
      padding: 50px 0;
      background-image: url(images/Group\ 14.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .banner-content h2{
      font-size: 45px;
    }
    .banner-content h1{
      font-size: 90px;
      padding: 0px;
    }
    .banner-content p{
      font-size: 14px;
      padding: 5px 0;    
    }
    .banner-button{
      padding-top: 0px;
      display: inline-flex;
      gap: 25px;
      margin: 20px 0;
    }
    .btn-primary{
      color: #FFF;
      font-size: 14px;
      font-weight: 600;
      padding: 15px 30px;
    }
    /* banner end */

    /* we are gamer */
    .we-are-gammer-container{
      background: none;
  }
    .we-are-gamer{
      flex-direction: column;
    }
    .we-are-gammer-img-container{
      width: 80%;
    }
    .we-are-gammer-content{
      text-align: center;
      width: 80%;

    }
    .we-are-gammer-img-container img{
      width: 100%;
      margin: 0px;
  }
  .we-are-gammer-content p{
    color: #534C64;
    font-size: 14px;
    font-weight: 400;
    padding-top: 30px;
  }
  .we-are-gammer-content h3{
    font-size: 18px;
    color: #534C64;
}
.know-more{
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 30px
}

.online-games-container{
  width: 80%;
  margin: 50px auto;

}
.online-games-img-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 0 auto;
  text-align: center;
}
.online-games-img-box img{
  width: 80%;
}
.online-games-container h2{
  font-size: 24px;
}
.online-games-img-container p{
  font-size: 10px;
}
.online-games-container p{
  color: #534C64;
  font-size: 10px;
  padding: 16px 0 20px;
}
.play-instantly-container{
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 100px auto;
}
.play-instantly-content{ 
  width: 80%; 
}
.play-instantly-content > h3{ 
  font-size: 24px;
  font-weight: 700;
  width: 100%;
  line-height: 30px;  
}
.play-instantly-content p{
  color: #534C64;
  font-size: 10px;
  text-align: center;
  max-width: 90%;
  margin: 24px auto;
  line-height: 20px;
}
.play-instantly-img-container{ 
  position: relative;
  width: 100%;
}
.play-instantly-img-container img{
  width: 80%;
}
.little-img{
  position: absolute;
  width: 40%;
  left: -30px;
  bottom: -30px;
}
.sponsors-container{
  width: 100%;
  background-color: #FFF;
}
.sponsors-content{
  padding: 0px;
}
.sponsors-content p{
  font-size: 8px;
  min-width: 0px;
  padding: 5px;
}
.sponsors-content img{
  width: 15px;
}

/* footer */
footer{
  background: #0B0223;
  padding: 70px 0 50px;   
}
.footer-container{
  width: 100%;
}
.footer-logo h2{
  font-size: 25px;
  color: #FFF;
  font-weight: 700;
}
.footer-logo img{
  width: 40px;
}
.footer-logo h2 span{
  padding-left: 5px;
}
.footer-menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
  font-size: 10px;
  gap: 10px;
  padding: 0;
  }
  .footer-menu a{
    text-decoration: none;
    color: #FFFFFF;
    margin: 0px 20px;
}
.footer-icon-container{
  width: 50%;
  margin: 0 auto;
  padding: 5px 0px;
}
.footer-icon{
  flex-wrap: wrap;
  font-size: 20px;
  padding: 10px 20px;
  
}
.rules-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  font-size: 10px;
  gap: 10px;
  padding-top: 6px;
}
.rules-container a{
    padding: 0 20px;
}
.copyright{
  flex-direction: column;
  font-size: 10px;
  padding: 28px 0px 0px;
}

}